body{
    background-color: rgb(244, 244, 244);
}

.box, .yelp-result, .error{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbar-toggler-icon{
    width: 35px;
    height: 35px;
}

.info{
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.yelp-result{
    margin-bottom: 80px !important;
}

.graph-div img{
    min-width: 305px;
}

.yelp-box{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.yelp-result-table{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

@media screen and (max-width: 700px){
    .yelp-box .box, .yelp-result, .error{
        width: 80%;
    }
}

.nav-link:hover{
    color: rgba(74, 147, 47, 0.744);
    transition: 0.1s;
}

.graph-div img{
    width: 40%;
}

#submit-button{
    width: 105px;
}

.spinner-border{
    margin-right: 2px;
}

.table-option-gap{
    margin-bottom: 7px;
}

#table-option{
    color:green;
}

#display{
    padding-top: 20px;
    text-align: center;
    width: 90%;
    margin: auto;
}

.title{
    padding-top: 100px;
    text-align: center;
    width: 90%;
    margin: auto;
}

.result{
    font-size: 42px;
    padding-left: 2px;
}
