<nav class="navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Semtiment Analysis Application</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                

                <li class="nav-item">
                    <a class="nav-link" href="/">Info</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/text-analysis/">Type and Analyse</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/yelp/">Show Analysis</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/insert/">Insert</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/ronan-s1/Sentiment-Analysis-Django">Github</a>
                </li>
            
                </ul>
                
            </div>
        </div>
    </div>
</nav>
